.main {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin-top: 100px;
  border-radius: 80px;
}

.mainIsHover {
  box-shadow: 0px 0px 10px #4c4cff;
}

.totalPriceContainer {
  display: flex;
  justify-content: flex-end;
  gap: 40px;
  margin-top: 40px;
}

.priceContainer {
  display: flex;
  gap: 8px;
  align-items: center;
}

:root {
  --skeleton-loader-grey: rgba(51, 51, 255, 0.3);
}

.skeletonLoader {
  display: flex;
  color:rgba(51, 51, 255, 1);
  justify-content: center;
  align-items: center;
  position: absolute;
  box-shadow: 0px 0px 200px rgba(51, 51, 255, 0.25),
    0px 0px 8px rgba(51, 51, 255, 0.25), 0px 4px 32px rgba(51, 51, 255, 0.5);
  text-shadow: 0px 0px 16px rgba(51, 51, 255, 0.8),
    0px 0px 8px rgba(51, 51, 255, 0.8), 0px 4px 32px rgba(51, 51, 255, 0.8);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: var(--skeleton-loader-grey);
  background: linear-gradient(
      100deg,
      rgba(255, 255, 255, 0) 40%,
      rgba(255, 255, 255, 0.5) 50%,
      rgba(255, 255, 255, 0) 60%
    )
    var(--skeleton-loader-grey);
  background-size: 200% 100%;
  background-position-x: 180%;
  animation: 0.8s skeleton-loader ease-in-out infinite;
  border-radius: 80px;
}

@keyframes skeleton-loader {
  to {
    background-position-x: -20%;
  }
}

.skeletonLoaderContainer {
  position: relative;
}
