.outerContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal {
  position: relative;
  width: 720px;
  min-height: 100px;
  background: #1c1c21;
  border: 1px solid rgba(76, 76, 255, 0.1);
  border-radius: 40px;
  box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.4), 0px 16px 24px rgba(0, 0, 0, 0.4),
    0px 4px 8px rgba(0, 0, 0, 0.4), 0px 0px 1px rgba(0, 0, 0, 0.4);
}

.closeButton {
  position: absolute;
  top: 60px;
  right: 40px;
  padding: 0;
  border: none;
  background-color: transparent;
  width: 24px;
  height: 24px;
  background-image: url("../../images/close-button-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 18px;
}

.closeButton:hover {
  opacity: 0.8;
}
