.ingredientDetails {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 720px;
  border-radius: 40px;
}

.name {
  text-align: center;
}

.mainContainer {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 520px;
}

.mainImage {
  width: 480px;
}

.componentsContainer {
  display: flex;
  gap: 20px;
}

.componentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 120px;
  height: 56px;
}
