.app {
  width: 1280px;
  height: 100vh;
  margin: 0 auto;
  border: 1px solid pink;
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 40px;
  box-sizing: border-box;
  width: 100%;
  border: 1px solid red;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 40px;
  /* color: blue; */
}



.ingridientsContainer {
  box-sizing: border-box;
  /* padding-top: 40px; */
  padding-left: 16px;
  width: 100%;
  height: calc(100vh - 90px - 196px);
  border: 1px solid aquamarine;
  overflow-x: auto;
}

.ingridientsContainer::-webkit-scrollbar {
  width: 8px;

}

.ingridientsContainer::-webkit-scrollbar-track {
  background-color: #2F2F37;
}

.ingridientsContainer::-webkit-scrollbar-thumb{
    background-color: #8585AD;
  /* height: 20em; */
 }
